<!DOCTYPE html>
<html ng-app="plunker">

  <head>
    <meta charset="utf-8" />
    <title>AngularJS Plunker</title>
    <script>document.write('<base href="' + document.location + '" />');</script>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link rel="stylesheet" href="style.css" />
    <script data-require="angular.js@1.5.x" src="https://code.angularjs.org/1.5.8/angular.js" data-semver="1.5.8"></script>
    <script src="app.js"></script>
  </head>

  <body ng-controller="MainCtrl">

    <div class="content">
      <header><img src="./mad-lib-happy-face.png"><img class="madlibs" src="./ng-mad-libs-logo.png"></header>
      <div>
        <md-switch ng-model="data.cb1" ng-change="onChange(data.cb1)"  ng-true-value="'Male'" ng-false-value="'Female'" aria-label="Sex">
              Sex: {{ data.cb1 }}
        </md-switch>
        <input placeholder="Female Name" ng-model="femaleName">
        <input placeholder="Job Title" ng-model="jobTitle">
        <input placeholder="tedious Task" ng-model="tediousTask">
        <input placeholder="Dirty Task" ng-model="dirtyTask">
        <input placeholder="Female Name" ng-model="femaleName">
        <input placeholder="Celebrity" ng-model="celebrity">
        <input placeholder="Useless Skill" ng-model="uselessSkill">
        <input placeholder="Useless Skill" ng-model="uselessSkill">
        <input placeholder="Female Name" ng-model="femaleName">
        <input placeholder="Adjective" ng-model="adjective">
        <input placeholder="Obnoxious Celebrity" ng-model="obnoxiousCelebrity">
        <input placeholder="Dirty Task" ng-model="dirtyTask">
        <input placeholder="Huge Number" ng-model="hugeNumber">
      </div>
      <hr>
      <p>{{femaleName}} was a {{jobTitle}} who loved technology. Although {{sex}} loved parts of {{sex2}} job {{sex}} absolutely hated {{tediousTask}} and {{dirtyTask}}. So, {{femaleName}} met with {{sex2}} life mentor {{celebrity}} who told {{sex2}} to learn how to {{uselessSkill}} with Thinkful. Thinkful didn't offer a course on {{uselessSkill}} {{sex}} studied programming instead. </p> <p>What a great decision! With {{sex2}} new skills, {{femaleName}} built a(n) {{adjective}} robot named {{obnoxiousCelebrity}} that not only loved {{dirtyTask}} but did it {{hugeNumber}} times faster. </p>
      </div>

        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

        <!-- Angular Material Library -->
        <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
  </body>

</html>
