<!DOCTYPE html>
<html ng-app="plunker">

  <head>
    <meta charset="utf-8" />
    <title>AngularJS Plunker</title>
    <script>document.write('<base href="' + document.location + '" />');</script>
    <link rel="stylesheet" href="style.css" />
    <script data-require="angular.js@1.5.x" src="https://code.angularjs.org/1.5.8/angular.js" data-semver="1.5.8"></script>
    <script src="app.js"></script>
  </head>

  <body ng-controller="MainCtrl">
    <div class="content">
      <header><img src="./mad-lib-happy-face.png"><img class="madlibs" src="./ng-mad-libs-logo.png"></header>
      <div>
        <input placeholder="Female Name" ng-model="femaleName">
        <input placeholder="Job Title" ng-model="jobTitle">
        <input placeholder="tedious Task" ng-model="tediousTask">
        <input placeholder="Dirty Task" ng-model="dirtyTask">
        <input placeholder="Female Name" ng-model="femaleName">
        <input placeholder="Celebrity" ng-model="celebrity">
        <input placeholder="Useless Skill" ng-model="uselessSkill">
        <input placeholder="Useless Skill" ng-model="uselessSkill">
        <input placeholder="Female Name" ng-model="femaleName">
        <input placeholder="Adjective" ng-model="adjective">
        <input placeholder="Obnoxious Celebrity" ng-model="obnoxiousCelebrity">
        <input placeholder="Dirty Task" ng-model="dirtyTask">
        <input placeholder="Huge Number" ng-model="hugeNumber">
      </div>
      <hr>
      <p>{{femaleName}} was a {{jobTitle}} who loved technology. Although she loved parts of her job, she absolutely hated {{tediousTask}} and {{dirtyTask}}. So, {{femaleName}} met with her life mentor {{celebrity}} who told her to learn how to {{uselessSkill}} with Thinkful. Thinkful didn't offer a course on {{uselessSkill}} so she studied programming instead. </p> <p>What a great decision! With her new skills, {{femaleName}} built a(n) {{adjective}} robot named {{obnoxiousCelebrity}} that not only loved {{dirtyTask}} but did it {{hugeNumber}} times faster. </p>
      </div>
  </body>

</html>
