<div>
        <md-switch ng-model="vm.data.cb1" ng-change="vm.onChange(vm.data.cb1)"  ng-true-value="'Male'" ng-false-value="'Female'" aria-label="Sex">
              Sex: {{ vm.data.cb1 }}
        </md-switch>
        <input placeholder="Female Name" ng-model="vm.femaleName">
        <input placeholder="Job Title" ng-model="vm.jobTitle">
        <input placeholder="tedious Task" ng-model="vm.tediousTask">
        <input placeholder="Dirty Task" ng-model="vm.dirtyTask">
        <input placeholder="Female Name" ng-model="vm.femaleName">
        <input placeholder="Celebrity" ng-model="vm.celebrity">
        <input placeholder="Useless Skill" ng-model="vm.uselessSkill">
        <input placeholder="Useless Skill" ng-model="vm.uselessSkill">
        <input placeholder="Female Name" ng-model="vm.femaleName">
        <input placeholder="Adjective" ng-model="vm.adjective">
        <input placeholder="Obnoxious Celebrity" ng-model="vm.obnoxiousCelebrity">
        <input placeholder="Dirty Task" ng-model="vm.dirtyTask">
        <input placeholder="Huge Number" ng-model="vm.hugeNumber">
</div>
<button ui-sref="madlib">Submit MadLib</button>