/* Put your css in here */

.content{
	
	max-width: 960px;
	margin: 0 auto;
}
header{
	margin-bottom: 25px;
}
.madlibs{
	margin-left:12.5%;
}

.error{
	color:red;
	border: 1px solid red;
}

.success{
	color:green;
	border: 1px solid green;
}
.err-div{
	display: inline-block;
}
.form-valid{
	margin-top: 25px;
	text-align: center;
	padding: 10px;
	width: 150px;
}